
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

canvas{
  margin: 0 auto;
  display: block;
}

#phaser{
  height: 75vh;
}

h1{
  font-family: 'Bungee', cursive;
  margin-top: 2vh;
}

p{
  font-family: 'Roboto', sans-serif;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
}
